@font-face{
  font-family: "Fresnel";
  src:url("fresnel.ttf")
}
@font-face{
  font-family: "Reavers";
  src:url("Reavers.ttf")
}
@font-face{
  font-family: "Alectro";
  src:url("Alectro.ttf")
}
@font-face{
  font-family: "LED";
  src:url("LED.ttf")
}

html,
body {
  height: 100%;
  margin: 0;
  padding-bottom: 30px;
  position: relative;

}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.row.footer {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.restart {
background-color: black; /* Green */
  border: 1px solid  #008CBA;
  color:  #008CBA;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: .1em;
  margin: .5em;
}
.restart:hover, .goHome:hover {
    background-color: #008CBA;
    color:  black;
}
.goHome {
  background-color: black; /* Green */
    border: 1px solid  #008CBA;
    color:  #008CBA;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: .1em;
    margin: .5em;
}
.notHighlighted{
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 0px;
}
.highlighted{

  display: flex;
  flex-direction: column;
  background-color: hotpink;
  padding: 5px;
  border-radius: .6em;
}

.image{
  filter: blur(10px);
}

.topBar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1.5em;
  padding: 5px;
}
.score{
  font-family: "Bitstream Vera Sans Mono", monospace;
  color: hotpink;
  font-size: 2.2em;
  align-self: center;
  margin: auto;

}
.Ftitle-text{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: .5em 0em 0em 0em;
  padding-bottom: 1em;
  font-weight: bold;

}
.home-containers{

  display: flex;
  justify-content: space-evenly;

}
.home-container-left{
  background-color: rgb(255, 23, 93);
  border-radius: .2em;
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  box-shadow: 3px 5px blue;
  opacity: .8;
}
.home-container-left:hover, .home-container-right:hover{
  opacity: .9;

}
.home-container-right{
  font-family: "Reavers";
  width: 30%;
  padding: 0em .8em;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  color: rgb(171, 204, 233);
  background-color: #008CBA;
  border-radius: .2em;
  text-shadow: 3px 1.5px blue;
  box-shadow: 3px 5px blue;
  opacity: .93;
}
.auth-containers{
  display: flex;
  justify-content: space-evenly;
}

.auth-container-right:hover{
  opacity: 1;

}
.auth-container-right{
  font-family: "Reavers";
  width: 30%;
  padding: 0em .8em;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  color: rgb(171, 204, 233);
  background-color: #008CBA;
  border-radius: .2em;
  text-shadow: 3px 1.5px blue;
  box-shadow: 3px 5px blue;
  opacity: .93;
  padding-bottom: 2em;
  padding-top: 1em;
}
.home-link{
  margin: 5%;
}
.nav-link{
  font-family: "Alectro";
  margin: 30 0 3px 0;
  color:  rgb(209, 206, 51);
  padding: .3em;
  text-shadow: 5px 3px rgb(25, 82, 204);
}
.nav-link:clicked{

}
.nav-link:hover{
  color: rgb(105, 250, 255);

}

.timer {
  font-family: "Fresnel";
  color: cornflowerblue;
  font-size: 4em;
}

.text-gradient {
  font-family: "Reavers";
  width: 100%;

  text-transform: uppercase;
  display: inline-block;
  font-size: 6em;

  background: repeating-linear-gradient(90deg, aqua 0%, hotpink 50%, aqua 100%);
  background-size: 200% auto;
  background-position: 0 100%;
  background-clip: text;
  color: transparent;
  animation: slidingGradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: radial;

  width: 100%;
  display: flex;
  justify-content: center;
  margin: .5em 0em 0em 0em;
  padding-bottom: .1em;
  font-weight: bold;
}
#authHeader1, #authHeader2{
  width: 100%;
  display: flex;
  justify-content: center;
  color: hotpink;
  filter: drop-shadow(6px 5px 1px #4444dd);


}


@keyframes slidingGradient { 
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
}
.hallOfFame{
  display: flex;
  justify-content: center;
  padding-bottom: .3em;

}
.nameCardHeader{
  display: flex;
  flex-direction: row;
  font-size: 50%;
  justify-content: space-between;
  color: gold;
}

.nameCard{
  font-size: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name {
  width: 30%;
}
.makeAFace{
  font-family: "Reavers";

}
.signOutDiv{
  display: flex;
  justify-content: flex-end;
}
.signOut{
  background-color: aqua;
  color: blue;
  opacity: .6;
  padding: 1em;
  border-radius: .3em;
  font-family: "LED";
}
.signOut:hover{
  opacity: 1;
}
.modalHeader{
  background-color: #008CBA;
  color: aqua;
  text-shadow: 2px 1px rgb(233, 111, 11);
  font-family: "Reavers";
  border-radius: 4px;
}
.modalBody{
  background-color: #008CBA;
  color: hotpink;
  text-shadow: 2px 2px #4444dd;
  font-size: 1.5em;
  display: flex;
}
.modalFooter{
  background-color: #008CBA;
  border-radius: 4px;
  display: flex;


}
#modalButton{
  color: rgb(255, 217, 0);
  background-color: blue;

}
#signin_button{
  margin-top: 6em;
  background-color: rgb(255, 187, 0);
}
#signup_button{
  background-color: rgb(255, 187, 0);
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -55px;
  margin-top: -50px;
}

.wrapper div:nth-child(1) {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.wrapper div:nth-child(2) {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.wrapper div:nth-child(3) {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.wrapper div:nth-child(4) {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.wrapper div:nth-child(5) {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.wrapper div:nth-child(6) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.wrapper div:nth-child(7) {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.wrapper div:nth-child(8) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.wrapper div:nth-child(9) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.wrapper div:nth-child(10) {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.wrapper div:nth-child(11) {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.wrapper div:nth-child(12) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.wrapper div:nth-child(13) {
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
}

.wrapper div:nth-child(14) {
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}

.wrapper div:nth-child(15) {
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
}

.wrapper div:nth-child(16) {
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}

.wrapper div:nth-child(17) {
  -webkit-transform: rotate(85deg);
          transform: rotate(85deg);
}

.wrapper div:nth-child(18) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.wrapper div:nth-child(19) {
  -webkit-transform: rotate(95deg);
          transform: rotate(95deg);
}

.wrapper div:nth-child(20) {
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
}

.wrapper div:nth-child(21) {
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
}

.wrapper div:nth-child(22) {
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
}

.wrapper div:nth-child(23) {
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
}

.wrapper div:nth-child(24) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.wrapper div:nth-child(25) {
  -webkit-transform: rotate(125deg);
          transform: rotate(125deg);
}

.wrapper div:nth-child(26) {
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

.wrapper div:nth-child(27) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.wrapper div:nth-child(28) {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.wrapper div:nth-child(29) {
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
}

.wrapper div:nth-child(30) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.wrapper div:nth-child(31) {
  -webkit-transform: rotate(155deg);
          transform: rotate(155deg);
}

.wrapper div:nth-child(32) {
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}

.wrapper div:nth-child(33) {
  -webkit-transform: rotate(165deg);
          transform: rotate(165deg);
}

.wrapper div:nth-child(34) {
  -webkit-transform: rotate(170deg);
          transform: rotate(170deg);
}

.wrapper div:nth-child(35) {
  -webkit-transform: rotate(175deg);
          transform: rotate(175deg);
}

.wrapper div:nth-child(36) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper div:nth-child(37) {
  -webkit-transform: rotate(185deg);
          transform: rotate(185deg);
}

.wrapper div:nth-child(38) {
  -webkit-transform: rotate(190deg);
          transform: rotate(190deg);
}

.wrapper div:nth-child(39) {
  -webkit-transform: rotate(195deg);
          transform: rotate(195deg);
}

.wrapper div:nth-child(40) {
  -webkit-transform: rotate(200deg);
          transform: rotate(200deg);
}

.wrapper div:nth-child(41) {
  -webkit-transform: rotate(205deg);
          transform: rotate(205deg);
}

.wrapper div:nth-child(42) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.wrapper div:nth-child(43) {
  -webkit-transform: rotate(215deg);
          transform: rotate(215deg);
}

.wrapper div:nth-child(44) {
  -webkit-transform: rotate(220deg);
          transform: rotate(220deg);
}

.wrapper div:nth-child(45) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.wrapper div:nth-child(46) {
  -webkit-transform: rotate(230deg);
          transform: rotate(230deg);
}

.wrapper div:nth-child(47) {
  -webkit-transform: rotate(235deg);
          transform: rotate(235deg);
}

.wrapper div:nth-child(48) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.wrapper div:nth-child(49) {
  -webkit-transform: rotate(245deg);
          transform: rotate(245deg);
}

.wrapper div:nth-child(50) {
  -webkit-transform: rotate(250deg);
          transform: rotate(250deg);
}

.wrapper div:nth-child(51) {
  -webkit-transform: rotate(255deg);
          transform: rotate(255deg);
}

.wrapper div:nth-child(52) {
  -webkit-transform: rotate(260deg);
          transform: rotate(260deg);
}

.wrapper div:nth-child(53) {
  -webkit-transform: rotate(265deg);
          transform: rotate(265deg);
}

.wrapper div:nth-child(54) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.wrapper div:nth-child(55) {
  -webkit-transform: rotate(275deg);
          transform: rotate(275deg);
}

.wrapper div:nth-child(56) {
  -webkit-transform: rotate(280deg);
          transform: rotate(280deg);
}

.wrapper div:nth-child(57) {
  -webkit-transform: rotate(285deg);
          transform: rotate(285deg);
}

.wrapper div:nth-child(58) {
  -webkit-transform: rotate(290deg);
          transform: rotate(290deg);
}

.wrapper div:nth-child(59) {
  -webkit-transform: rotate(295deg);
          transform: rotate(295deg);
}

.wrapper div:nth-child(60) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.wrapper div:nth-child(61) {
  -webkit-transform: rotate(305deg);
          transform: rotate(305deg);
}

.wrapper div:nth-child(62) {
  -webkit-transform: rotate(310deg);
          transform: rotate(310deg);
}

.wrapper div:nth-child(63) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.wrapper div:nth-child(64) {
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}

.wrapper div:nth-child(65) {
  -webkit-transform: rotate(325deg);
          transform: rotate(325deg);
}

.wrapper div:nth-child(66) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

.wrapper div:nth-child(67) {
  -webkit-transform: rotate(335deg);
          transform: rotate(335deg);
}

.wrapper div:nth-child(68) {
  -webkit-transform: rotate(340deg);
          transform: rotate(340deg);
}

.wrapper div:nth-child(69) {
  -webkit-transform: rotate(345deg);
          transform: rotate(345deg);
}

.wrapper div:nth-child(70) {
  -webkit-transform: rotate(350deg);
          transform: rotate(350deg);
}

.wrapper div:nth-child(71) {
  -webkit-transform: rotate(355deg);
          transform: rotate(355deg);
}

.wrapper div {
  position: absolute;
  height: 50px;
  width: 50px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.wrapper div .bar {
  position: absolute;
  height: 1px;
  width: 100px;
  background-color: #369;
  left: 0;
  border-radius: 20px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: spin 6s linear infinite;
          animation: spin 6s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}




