html,
body {
  height: 100%;
  margin: 0;
  padding-bottom: 30px;
  background-color: black;
}

.row.footer {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.restart {
background-color: black; /* Green */
  border: 1px solid  #008CBA;
  color:  #008CBA;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: .1em;
  margin: .5em;
}
.restart:hover {
    background-color: #008CBA;
    color:  black;
}

.notHighlighted{
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 0px;
}
.highlighted{
  display: flex;
  flex-direction: column;
  background-color: hotpink;
  padding: 5px;
  border-radius: .6em;
}
.image{
  filter: blur(10px);
}

.topBar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1.5em;
  padding: 5px;
}
.score{
  font-family: monospace;
  color: hotpink;
  font-size: 2.2em;
  align-self: center;
  justify-self: center;
}
.home-title{
  color: hotpink;
}

.home-container{
  font-size: 2.2em;

}
.nav-link{
  font-family: monospace;
  margin: 30 0 3px 0;
  border: 1px solid blue;
  background-color: blue;
  color:  aqua;
  padding: .3em;

}
.nav-link:clicked{

}
.goHome {
    background-color: black; /* Green */
      border: 1px solid  #008CBA;
      color:  #008CBA;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: .1em;
      margin: .5em;
    }



